<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Unzipper</title>
		<style>
			ul {list-style-type: square;}
		</style>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<p>Выберите zip архив: <input type="file" name="zipfile"></p>
			<input type="submit" value="Послать">
		</form>
		{% if archive %}
			<p>Архив: {{ archive.name }}</p>
			<ul>
			{% for item in items %}
				<li>{{ item.name }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	</body>
</html>
